body {
  font-family: "Poppins", sans-serif;
  background: #0b0c10;
  color: #c5c6c7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #1f2833;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 255, 180, 0.2);
  text-align: center;
  max-width: 400px;
}

h1 {
  font-size: 2rem;
  color: #66fcf1;
  margin-bottom: 10px;
}

.highlight {
  color: #45a29e;
}

p {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

input[type="file"] {
  margin-top: 10px;
}

button {
  margin-top: 15px;
  background-color: #45a29e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #66fcf1;
  color: #0b0c10;
}

.image-preview img {
  margin-top: 20px;
  max-width: 100%;
  border-radius: 10px;
}

h2 {
  margin-top: 20px;
  color: #fff;
  font-weight: 600;
}

footer {
  margin-top: 20px;
  font-size: 0.8rem;
  color: #888;
}
